.header {
  height:150px;
}
.header a {
  padding: 10px 50px 10px 50px;
  font-family: Verdana; 
  color: #1B91E0;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.5em;
  font-size: 6em;
}

.main-content:after {
  clear:both;
  display:table;
  content:"  ";
}
.sidebar {
  width:20%;
  float:left;
  border-top:2px solid;
  border-right:2px solid;
  border-bottom:2px solid;
  border-radius:25px;
  border-color:#1B91E0;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
}
.nav-item {
  list-style-type:none;
  padding: 4px 10px 4px;
}
.nav-item a {
  font-family: Verdana; 
  color: #1B91E0;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.5em;
  font-size: 1.5em;
}
.nav-item a:hover {
  color: grey;
}


.content {
  width:80%;
  float:left; 
}


.footer {
  border-top: 3px solid #242424;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.footer p {
  color:lightgrey;
}

/*  for phones */
@media screen and (max-width:500px) {
  .header-title {
    text-align:center;
  }
  .header-title-text {
    font-size:4em;
  }
  .sidebar {
    float:top;
    width:100%;
    border-top:none;
    border-right:2px solid;
    border-bottom:2px solid;
    border-left:2px solid;
    border-radius:25px;
    border-color:#1B91E0;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
  }
  .nav-item {
    padding: 10px 10px 10px;
  }
}


/* contact index */
.contacts {
  list-style-type:none;
  margin: auto;
}
.contact-item {
  height:150px;
  background-color:lightgrey;
  border: 1px dashed;
  padding: 10px 20px 10px 20px;
  margin:5px 20px 5px 20px;
}
.contact-pic {
  float:left;
  height:100%;
}
.contact-info {
  float:left;
  height:100%;
  width:70%;
  margin:auto;
}
.contact-name {
  text-align:center;
  padding-top:10px;
  font-size:30px;
}
.contact-phone {
  margin-left:100px;
}