<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.title %}
                {{ page.title }} - {{ site.abbreviation }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS tools -->
        <link href="/css/bootstrap.css" rel="stylesheet">
    </head>
    <body style="background-color:#292929">
     
        {{ content }}

    </body>
</html>
