<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.title %}
                {{ page.title }} - {{ site.abbreviation }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS tools -->
        <link href="/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS & JS -->
        <link href="/assets/fullcalendar/fullcalendar.css" rel="stylesheet">
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
        <script type='text/javascript' src='/assets/fullcalendar/fullcalendar.js'></script>
        <script type='text/javascript' src='/assets/fullcalendar/gcal.js'></script>
        <link href="/css/app.css" rel="stylesheet">
    </head>
    <body style="background-color:#292929">
     
        {{ content }}

    </body>
</html>
