---
layout: default
---

<link href="/css/app.css" rel="stylesheet">

<!-- Site Header -->
<div class="header">
  <a href="/">Thomas 1</a>
</div>


<div class="main-content">
  <div class="sidebar">
    <div class="nav-item">
      <a href="/events">Events</a>
    </div>
    <div class="nav-item">
      <a href="">About</a>
    </div>
    <div class="nav-item">
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div class="content">
    {{ content }}
  </div>
</div>

<!-- Site Footer -->
<div class="footer">
  <p>© Thomas One Moose</p>
</div>