---
layout: default
---

<div class="container">

      <div class="masthead">
        <a href="/"><h3 class="text-muted">{{ site.name }}</h3></a>
        <ul class="nav navbar-nav nav-justified">
          <li><a href="/events">Events</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      
      {{ content }}

      <!-- Site footer -->
      <div class="footer">
        <p>© Thomas One Moose</p>
      </div>

    </div>
